<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Usuário</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Atualizar Usuário</h1>

    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ usuario[0] }}" required>
        <br><br>
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" value="{{ usuario[1] }}" required>
        <br><br>
        <label for="tipo">Tipo:</label>
        <select id="tipo" name="tipo" required>
            <option value="aluno" {% if usuario[2] == 'aluno' %}selected{% endif %}>Aluno</option>
            <option value="professor" {% if usuario[2] == 'professor' %}selected{% endif %}>Professor</option>
        </select>
        <br><br>
        <button type="submit">Atualizar</button>
    </form>

    <div class="link-container">
        <a href="{{ url_for('listar_usuarios') }}">Voltar</a>
    </div>
</body>
</html>
