<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Disciplinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cadastrar Disciplinas</h1>
    
    {% if current_user.is_authenticated and current_user.tipo == 'professor' %}
        <form method="POST" action="{{ url_for('cadastrar_disciplina') }}">
            <label for="nome">Nome da Disciplina:</label>
            <input type="text" id="nome" name="nome" required>
            <br><br>

            <!-- Adiciona o campo para selecionar o curso -->
            <label for="curso">Curso:</label>
            <select id="curso" name="curso_id" required>
                <option value="" disabled selected>Selecione um Curso</option>
                {% for curso in cursos %}
                    <option value="{{ curso[0] }}">{{ curso[1] }}</option>
                {% endfor %}
            </select>
            <br><br>

            <button type="submit">Cadastrar Disciplina</button>
        </form>
    {% else %}
        <p>Você precisa ser um professor para cadastrar disciplinas.</p>
    {% endif %}
    
    <hr>
    <h2>Disciplinas Cadastradas</h2>
    <ul>
        {% for disciplina in disciplinas %}
            <li>{{ disciplina[0] }} - Professor: {{ disciplina[1] }} - Curso: {{ disciplina[2] }}</li> <!-- Exibe o curso associado à disciplina -->
        {% endfor %}
    </ul>
    <div class="link-container">
        <a href="{{ url_for('inside_home') }}">Voltar ao menu</a>
    </div>
</body>
</html>
